@model FaqUpdateViewModel
@{
    ViewData["Title"] = "Admin - Faqs - Update";
    ViewData["Active-FAQS"] = "active";
}

<div class="rightSide">
    <div class="admin-detail">
        <div id="first" class="content">
            <div class="header">
                <p>Faq - Update</p>
            </div>

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form method="post" asp-controller="Faqs" asp-action="Update">

                <label asp-for="Question">Question</label><br>
                <input asp-for="Question" required autocomplete="off">
                <span class="text-danger" asp-validation-for="Question"></span>
                <br>

                <label asp-for="Answer">Answer</label><br>
                <input asp-for="Answer" required autocomplete="off">
                <span class="text-danger" asp-validation-for="Answer"></span>
                <br>
                
                <button type="submit">Update</button>
            </form>


        </div>
    </div>
</div>